@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
background-color: #4A5568;
}

::-webkit-scrollbar-thumb:hover {
background-color: #4A5568;
}

::-webkit-scrollbar-track {
background-color: #E2E8F0;
}