@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Manrope', sans-serif;
  background-image: url('./assets/gradient01.png'), url('./assets/gradient02.png');
  background-color: #101010;
  background-size: auto, auto;
  background-position: top right, left top;
  background-repeat: no-repeat, no-repeat;
  letter-spacing: 0.4px;
}

.quote{
  background: radial-gradient(50% 100% at 50% 50%, #5965D3 0%, #7133AF 100%);
}

.contact{
  background: linear-gradient(268deg, #1E1F2E 1.89%, #271248 98.11%);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
background-color: #0B0B0EE5;
}

::-webkit-scrollbar-track {
background-color: #434343;
}